.navbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
}
.logo p {
  color: #11dede;
  letter-spacing: 1px;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.active-link {
  text-decoration: none;
  font-size: 21px;
  transition: color ease-in-out 300ms;
  color: #11dede;
  margin-right: 25px;
  font-weight: 500;
  border-bottom: 2px solid #307b98;
  transition: all 0.4s ease-in-out;
  letter-spacing: 1px;
  font-weight: 600;
}
.link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 25px;
  font-weight: 500;
  border-bottom: 2px solid #403f3fd6;
  letter-spacing: 1px;
  font-weight: 600;
}
.singupBtn {
  color: #fff;
  font-size: 17px;
  background-color: #11dede;
  padding: 10px 10px;
  border-radius: 30px;
  font-weight: 700;
}
.icon{
    font-size: 30px;
    color: #11dede;
    margin-right: 30px;
}
/* Responsive Mobile Device  */

@media screen and (max-width: 688px) {
  .active-link {
    font-size: 18px;
    margin-right: 10px;
  }
  .navbar{
      margin: 30px 20px;
  }
  .link {
    font-size: 16px;
    margin-right: 10px;
  }
  .nav {
    margin-top: 20px;
  }
  .icons{
      display: block;
  }
}
